<main class="container">
    <mat-action-list>
        <h3 mat-subheader>Sites</h3>
        <mat-list-item *ngFor="let site of $data | async" [routerLink]="['details', site._id]">
            <h3 matLine> {{site.name}} </h3>
            <p matLine>
                {{site.meta.title}}
            </p>
        </mat-list-item>
    </mat-action-list>
    <span class="fabWrapper">
        <button mat-fab color="accent" routerLink="make">
            <mat-icon>add</mat-icon>
        </button>
    </span>
</main>