<form class="row pl-72 pr-72">
    <div class="col s12">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Site name">
        </mat-form-field>
    </div>
    <div class="col s12">
        <h2>Meta</h2>
    </div>
    <div class="col s6">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Title">
        </mat-form-field>
    </div>
    <div class="col s6">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Description">
        </mat-form-field>
    </div>
    <div class="col s12">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Keywords">
        </mat-form-field>
    </div>
    <div class="col s12">
        <h2>Footer</h2>
    </div>
    <div class="col s6">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Title">
        </mat-form-field>
    </div>
    <div class="col s6">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Address">
        </mat-form-field>
    </div>
    <div class="col s6">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Phone">
        </mat-form-field>
    </div>
    <div class="col s6">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Email">
        </mat-form-field>
    </div>
    <div class="col s6">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Copyright">
        </mat-form-field>
    </div>
</form>