<form class="row pl-72 pr-72" [formGroup]="siteForm">
    <div class="col s12">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Site name" formControlName="name">
        </mat-form-field>
    </div>
    <fieldset class="col s12" formGroupName="meta">
        <div class="row">
            <div class="col s12">
                <h2>Meta</h2>
            </div>
            <div class="col s6">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Title" formControlName="title">
                </mat-form-field>
            </div>
            <div class="col s6">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Description" formControlName="description">
                </mat-form-field>
            </div>
            <div class="col s12">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Keywords" formControlName="keywords">
                </mat-form-field>
            </div>
        </div>
    </fieldset>
    <fieldset class="col s12" formGroupName="footer">
        <div class="row">
            <div class="col s12">
                <h2>Footer</h2>
            </div>
            <div class="col s6">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Title" formControlName="title">
                </mat-form-field>
            </div>
            <div class="col s6">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Address" formControlName="address">
                </mat-form-field>
            </div>
            <div class="col s6">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Phone" type="tel" formControlName="phone">
                </mat-form-field>
            </div>
            <div class="col s6">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Email" type="email" formControlName="email">
                </mat-form-field>
            </div>
            <div class="col s6">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Copyright" formControlName="copyright">
                </mat-form-field>
            </div>
        </div>
    </fieldset>
    <div class="actions" *ngIf="!autosave">
        <button mat-button color="primary" [disabled]="siteForm.invalid" (click)="save()">save</button>
    </div>
</form>