<form action="" class="row pl-72 pr-72">
    <div class="col s6">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Input">
        </mat-form-field>
    </div>

    <div class="col s6">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Input">
        </mat-form-field>
    </div>

    <div class="col s6">
        <mat-form-field appearance="outline">
            <mat-select placeholder="Select">
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col s6">
        <mat-form-field appearance="outline">
            <mat-select placeholder="Select">
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col s12">
        <quill-editor></quill-editor>
    </div>
</form>