<form class="row pl-72 pr-72" [formGroup]="routerForm">
    <div class="col s12" formArrayName="routes">
        <div class="mb-56" *ngFor="let route of routes.controls; index as i;">
            <span [formGroupName]="i">
                <mat-form-field appearance="outline">
                    <mat-label>Route</mat-label>
                    <mat-select formControlName="page">
                        <mat-option *ngFor="let page of pageList" [value]="page">
                            {{page.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <span formArrayName="sections">
                    <mat-form-field appearance="outline"
                        *ngFor="let subroute of route.get('sections')['controls']; let sectionIndex = index;">
                        <mat-label>Subroute</mat-label>
                        <mat-select [formControlName]="sectionIndex">
                            <mat-option *ngFor="let page of pageList" [value]="page">
                                {{page.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
            </span>
            <span class="actions">
                <button mat-icon-button aria-label="add a new subroute" type="button" (click)="handleSubRoute(i, true)">
                    <mat-icon>add</mat-icon>
                </button>
            </span>
        </div>
    </div>
</form>
<span class="fabWrapper">
    <button mat-fab color="accent" (click)="addRoute()">
        <mat-icon>add</mat-icon>
    </button>
</span>